/*Fuentes*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

/*reset margen*/
*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* reset tamaños*/
html {
    font-size: 62.5%;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
}

img{
    width: 1000%;
}
/*Titulos y sub titulos*/
.title{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 10rem;
    color: aliceblue;
    align-items: center;

}

.sub-t{
    display: flex;
    justify-content: center;
    font-family: 'Teko', sans-serif;
    font-size: 3rem;
    
}

.sub-p{
    padding: 2rem;
}

/*pagina principal*/

/*Headder*/
.link{ 
    display: flex;
    background-color: #ff0000;
    font-family: 'Teko', sans-serif;
    font-size: 25px;
    color: aliceblue;
}

/*Logo y titulo*/
.logo{
    display: flex;
    justify-content: center;
    gap: 4rem;
    align-items: center;
    flex-wrap: wrap;
    background-color: black
}a

.logo h1{
    padding: 0 6rem;
}

.title-evento{  
        font-family: 'Bebas Neue', sans-serif;
        font-size: 9rem;
        color: aliceblue;
        align-items: center;
    
}

.logo-bar{
    width: 15rem;
    height: 15rem;
}

@media screen and (max-width: 720px) {
    .title{ font-size: 5rem;}
    .title-evento {font-size: 5rem;}
}

/*Productos*/
.productos{ 
    display: flex;
    justify-content: center;
    gap: 1rem;
    max-width: 1200px;
    margin: 2rem;
    flex-wrap: wrap;
}

.card{
    border: none;
}

/* Eventos*/
.eventos{
    margin: 2rem;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.ev-item{
    margin-top: 2rem;
    width: 30rem;
}

.ev-datos{
    margin-bottom: 2rem;
    width: 35rem;
}

/*Reservas*/
.reservas{
    margin: 2rem;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.res-nombre{
    margin-bottom: 2rem;
    width: 20rem;
}

.res-mail{
    margin-bottom: 2rem;
    width: 20rem;
}

.res-fecha{
    margin-bottom: 2rem;
    width: 10rem;
}

.res-datos{
    margin-bottom: 2rem;
    width: 35rem;
}

/*Footer*/
.footer{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding: 1.5;
    border: black;
    font-size: 1rem;
    background-color: black;
    color: white;

}

i{
    font-size: 6rem;
}